/* Navigation Bar */
nav{
    background-color: #0c61c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* left part & right part of the navigation Bar */
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

/* nav-left SocialPage logo */
.logo{
    width: 100px;
    height: 55px;
    margin-right: 35px;
}


/* nav-left Menu Icons List */
.nav-left ul li{
    list-style: none;
    display: inline-block;
}

/* nav-left Menu Icons Images */
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

/* css for right part of the navigation Bar */
/* nav-right search box */
/* nav-right including the input box and the search icon */
.search-box{
    display: flex;
    align-items: center;
    background: #efefef;
    width: 350px;
    height: 38px;
    padding: 0 15px;
    border-radius: 50px 50px 50px 50px;
}

/* nav-right input box */
.search-box input{
    border: 0;
    width: 100%;
    background:transparent;
    padding: 10px;
    outline: none
    
}

/* nav-right search icon */
.search-box img{
    width: 20px;
}

/* nav-right User Icon */

.user-icon img{
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

/* nav-right online notif on top of User Icon */
.online{
    position: relative;
}


.online::after{
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 2px;
}